@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    background-image: url(./bg\ \(1\).png);
}